<div><h2>Content </h2></div>

<ul style="margin-bottom: 50px;">
  <li>An observable async service to fetch a list of Customers</li>
  <li>Sorting, filtering and pagination</li>
  <li>Simulated delay and loading indicator</li>
  <li>Debouncing of search requests</li>
  <li>Export file to xlsx.</li>
  <li>Draw chart customer Type</li>
</ul>

<form>
  <div class="mb-3 row">
    <label
      for="table-complete-search"
      class="col-xs-3 col-sm-auto col-form-label"
      >Search:</label
    >
    <div class="col-xs-3 col-sm-auto">
      <input
        id="table-complete-search"
        type="text"
        class="form-control"
        name="searchTerm"
        [(ngModel)]="customerService.searchTerm"
      />
    </div>
    <div class="col-xs-3 col-sm-auto">
      <button class="btn btn-outline-primary" (click)="open(mymodal)">
        Add Customer
      </button>
    </div>
    <span class="col col-form-label" *ngIf="customerService.loading$ | async"
      >Loading...</span
    >
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
        <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
        <th scope="col" sortable="phone" (sort)="onSort($event)">Phone</th>
        <th scope="col" sortable="address" (sort)="onSort($event)">Address</th>
        <th>Action</th>
        <th>Select Row Export</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cus of customers$ | async; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <ngb-highlight
            [result]="cus.name"
            [term]="customerService.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="cus.email"
            [term]="customerService.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="cus.phone"
            [term]="customerService.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <ngb-highlight
            [result]="cus.address"
            [term]="customerService.searchTerm"
          ></ngb-highlight>
        </td>
        <td>
          <button class="btn btn-primary" style="margin-right: 10px;" (click)="openEdit(mymodal, cus)">Edit</button>
          <button class="btn btn-success" (click)="deleteCustomer(cus)">Delete</button>
        </td>
        <td >
          <div class="form-check">
            <input class="form-check-input" (click)="selected(cus)" type="checkbox" value="" id="flexCheckDefault">
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="customerService.page"
      [pageSize]="customerService.pageSize"
    >
    </ngb-pagination>

    <div>
      <button class="btn btn-primary" style="margin-right: 15px;" (click)="exportFile(false)">Export all row</button>
      <button class="btn btn-success" style="margin-right: 15px;" [disabled]="!isShow" (click)="exportFile(true)">Export File Select</button>
      <button class="btn btn-success" (click)="chart()">{{ isChart ? 'Hidden chart' : 'Show chart'}}</button>
    </div>

    <select
      class="form-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="customerService.pageSize"
    >
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
  </div>
</form>

<div style="display: block; width: 60%; margin: auto; margin-top: 50px;" *ngIf="isChart">
  <canvas baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [type]="barChartType">
  </canvas>
</div>

<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modal: Add Customer</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="closeModal()"
    >
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="customerForm">
      <div class="form-group">
        <label for="username">User Name</label>
        <input
          id="username"
          formControlName="name"
          type="text"
          class="form-control"
          name="username"
        />
      </div>
      <div class="form-group">
        <label for="address">Email</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          id="email"
          required
        />
        <!-- <span *ngIf="address.invalid && (address.dirty || address.touched)">Data Required </span> -->
      </div>
      <div class="form-group">
        <label for="mobile">Mobile</label>
        <input
          type="text"
          class="form-control"
          formControlName="phone"
          id="phone"
          name="phone"
        />
      </div>

      <div class="form-group">
        <label for="mobile">Address</label>
        <input
          type="text"
          class="form-control"
          formControlName="address"
          id="address"
          name="address"
        />
      </div>

      <br/>

      <div class="form-group">
        <button
          *ngIf="!isEdit"
          type="submit"
          [disabled]="!customerForm.valid"
          class="btn btn-success"
          (click)="saveCustomer()"
        >
          Submit
        </button>
        <button
          *ngIf="isEdit"
          type="submit"
          [disabled]="!customerForm.valid"
          class="btn btn-success"
          (click)="updateForm()"
        >
          Update
        </button>
      </div>
    </form>
  </div>
  <!-- <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Ok
    </button>
  </div> -->
</ng-template>
